@import "~react-draft-wysiwyg/dist/react-draft-wysiwyg.css";

.text-editor {
  position: relative;
  display: flex;
  justify-content: center;

  .rdw-editor-wrapper {
    width: 100%;
    height: max-content;
  }

  .rdw-editor-toolbar {
    border: 1px solid #bcc8e7;
    border-radius: 10px;
    // margin: auto;
    width: fit-content;
    background: white;

    img {
      width: 13.11px;
      height: 16px !important;
      margin: 0px 14.5px;
    }
  }

  .rdw-editor-toolbar {
    padding: 0;

    & > div {
      height: 40px;
      border: none;
      background: transparent;
      cursor: pointer;
      margin: 0;

      img {
        height: 13px;
        fill: #0061a7;
      }
    }

    .rdw-option-active {
      box-shadow: none;
    }

    .rdw-link-modal {
      height: 250px;
    }

    .rdw-dropdown-selectedtext {
      color: black;
      font-family: FuturaMdBT, Helvetica, Arial, Verdana, Tahoma, sans-serif;
    }

    .rdw-fontsize-dropdown {
      margin: 0 14.5px;

      .rdw-dropdown-selectedtext::after {
        color: black;
        width: 40px;
      }

      .rdw-dropdown-optionwrapper {
        width: 40px;
      }
    }

    .rdw-emoji-wrapper img {
      width: 16px;
      height: 16px;
    }

    .rdw-dropdown-carettoclose {
      border: solid black;
      border-width: 0 1.5px 1.5px 0;
      display: inline-block;
      padding: 3px;
      transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
    }

    .rdw-dropdown-carettoopen {
      border: solid black;
      border-width: 0 1.5px 1.5px 0;
      display: inline-block;
      padding: 3px;
      transform: rotate(-135deg);
      -webkit-transform: rotate(-135deg);
    }
  }

  .rdw-editor-main {
    width: 100%;
    min-height: 180px;
    margin-top: 20px;

    border: solid 1px #bcc8e7;
    background-color: white;
    border-radius: 10px;
    font-family: FuturaBQ, Helvetica, Arial, Verdana, Tahoma, sans-serif;
    font-size: 16px;

    .public-DraftEditorPlaceholder-root {
      color: #bcc8e7;
      font-size: 16px;
      padding: 10px;
    }
  }

  .public-DraftEditor-content {
    width: 100%;
    padding: 6px 10px;
  }

  .draftJsMentionPlugin__input__1Wxng {
    width: 100%;
    padding: 10px;
  }

  .public-DraftEditorPlaceholder-root {
    position: absolute;
  }

  .rdw-option-wrapper,
  .rdw-dropdown-wrapper {
    border: none;
    border-radius: 0;
    transition: background 0.3s;
    background: transparent;
    padding: 0;
    margin: 0;

    &:hover {
      box-shadow: none;
    }
  }

  .public-DraftStyleDefault-block {
    margin: 0px;
  }

  .rdw-option-wrapper {
    min-width: 0 !important;
    width: auto !important;
  }

  .rdw-dropdown-optionwrapper {
    overflow: auto;
    &:hover {
      box-shadow: none;
    }
  }

  .rdw-dropdownoption-default {
    transition: background-color 0.3s;
  }

  button {
    &:hover {
      box-shadow: none;
    }

    &[disabled] {
      pointer-events: none;
    }
  }
}
