@import "~react-draft-wysiwyg/dist/react-draft-wysiwyg.css";

.text-editor-2 {
  position: relative;


  .rdw-editor-toolbar {
    display:flex;
    justify-content: center;
    margin: 0;
    background: white;
    border-radius: 0;
    width: 100%;
    border: none;
    border-radius: 10px;
    margin-bottom: 10px;

    // @include themify($themes) {
    //   border: solid 1px themed('colorFieldsBorder');
    // }

    img {
      width: 13.11px;
      height: 16px !important;
      margin: 0px 14.5px;
    }
  }

  .rdw-editor-toolbar {
    padding: 0;

    &>div {
      height: 40px;
      border: none;
      background: transparent;
      cursor: pointer;
      margin: 0;

      img {
        height: 13px;
        fill: #0061a7;
        // @include themify($themes) {
        //   fill: themed('colorText');
        // }
      }
    }

    .rdw-option-active {
      box-shadow: none;

      // @include themify($themes) {
      //   background-color: themed('colorBorder');
      // }
    }

    .rdw-link-modal {
      height: 250px;
    }

    .rdw-dropdown-selectedtext {
      color: black;
      font-family: "FuturaMdBT";
    }

    .rdw-fontsize-dropdown {
      margin: 0 14.5px;

      .rdw-dropdown-selectedtext::after {
        color: black;
        width: 40px;
      }

      .rdw-dropdown-optionwrapper {
        width: 40px;
      }
    }

    .rdw-emoji-wrapper img {
      width: 16px;
      height: 16px;
    }

    .rdw-dropdown-carettoclose {
      border: solid black;
      border-width: 0 1.5px 1.5px 0;
      display: inline-block;
      padding: 3px;
      transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
    }

    .rdw-dropdown-carettoopen {
      border: solid black;
      border-width: 0 1.5px 1.5px 0;
      display: inline-block;
      padding: 3px;
      transform: rotate(-135deg);
      -webkit-transform: rotate(-135deg);
    }
  }

  .rdw-editor-main {
    width: 100%;
    min-height: 180px;
    margin-top: 24px;
    // @include themify($themes) {
    //   border: solid 1px themed('colorFieldsBorder');
    // }
    border: solid 1px #bcc8e7;
    background-color: white;
    border-radius: 10px;
    font-family: "FuturaBQ";
    font-size: 16px;
    color : #0061A7;
    .public-DraftEditorPlaceholder-root {
      color: #bcc8e7;
      font-size: 16px;
      padding: 10px;

    }
  }

  .public-DraftEditor-content {
      padding: 10px;

    // @include themify($themes) {
    //   color: themed('colorText');
    // }
  }

  .draftJsMentionPlugin__input__1Wxng {
    width: 100%;
    padding: 10px;

  }

  .public-DraftEditorPlaceholder-root {
    position: absolute;
    // color: $color-additional;
  }

  .rdw-option-wrapper,
  .rdw-dropdown-wrapper {
    border: none;
    border-radius: 0;
    transition: background 0.3s;
    background: transparent;
    padding: 0;
    margin: 0;

    &:hover {
      box-shadow: none;

      // @include themify($themes) {
      //   background: themed('colorHover');
      // }
    }

    img {
      // @include themify($themes) {
      //   filter: themed('imgInvert');
      // }
    }
  }

  .public-DraftStyleDefault-block {
    margin: 0px;
  }

  .rdw-option-wrapper {
    min-width: 0 !important;
    width: auto !important;
  }

  .rdw-dropdown-wrapper {
    // @include themify($themes) {
    //   color: themed('colorText');
    // }

    .rdw-dropdown-carettoclose {
      // @include themify($themes) {
      //   border-bottom-color: themed('colorText');
      // }
    }

    .rdw-dropdown-carettoopen {
      // @include themify($themes) {
      //   border-top-color: themed('colorText');
      // }
    }
  }

  .rdw-dropdown-optionwrapper {
    overflow: auto;

    // @include themify($themes) {
    //   background-color: themed('colorBackground');
    //   border-color: themed('colorBorder');
    // }

    &:hover {
      box-shadow: none;
    }
  }

  .rdw-dropdownoption-default {
    transition: background-color 0.3s;

    &:hover {
      // @include themify($themes) {
      //   background-color: themed('colorHover');
      // }
    }

    &.rdw-dropdownoption-active {
      // @include themify($themes) {
      //   background-color: themed('colorHover');
      // }
    }
  }

  button {
    &:hover {
      box-shadow: none;

      // @include themify($themes) {
      //   background-color: themed('colorHover');
      // }
    }

    &[disabled] {
      pointer-events: none;
    }
  }
}