.containerb {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;

  position: absolute;
  width: 460px;
  height: 353px;
  left: 217px;
  top: 238px;

  /* Primary/hard */

  background: #0061a7;
  /* Primary/hard */

  border: 1px solid #0061a7;
  box-sizing: border-box;
  /* shadow/medium */

  box-shadow: 0px 8px 10px rgba(188, 200, 231, 0.5);
  border-radius: 20px;
}
.containerw {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;

  position: absolute;
  width: 460px;
  height: 353px;
  left: 703px;
  top: 238px;

  background: #ffffff;
  /* Gray/soft */

  border: 1px solid #e6eaf3;
  box-sizing: border-box;
  /* shadow/soft */

  box-shadow: 0px 3px 10px rgba(188, 200, 231, 0.2);
  border-radius: 20px;
}

.pilihkategori {
  position: absolute;
  width: 258px;
  height: 53px;
  left: 511px;
  top: 97px;

  font-family: Futura, Helvetica, Arial, Verdana, Tahoma, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 53px;
  text-align: center;
  letter-spacing: 0.03em;

  /* Dark/hard */

  color: #374062;
}

.container {
  background: #fff;
  text-align: left;
  margin-left: 4em;
  border-radius: 10px;
  height: 100%;
  width: 100%;
}

/* .butonmax{
  padding: 1em;
    margin: 2em auto;
    width: 17em;
    border-radius: 3px;
    width: "100%";
  } */
