.wrapper {
  width: 330px;
  font-family: 'Helvetica';
  font-size: 14px;
}
.StepProgress {
  position: relative;
  padding-left: 45px;
  list-style: none;
}
.StepProgress::before {
  display: inline-block;
  content: '';
  position: absolute;
  top: 0;
  left: 15px;
  width: 10px;
  height: 100%;
}
.StepProgress-item {
  position: relative;
  counter-increment: list;
}
.StepProgress-item:not(:last-child) {
  padding-bottom: 30px;
}
.StepProgress-item::before {
  display: inline-block;
  content: '';
  position: absolute;
  left: -29px;
  height: 100%;
  width: 10px;
}
.StepProgress-item::after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
  left: -37px;
  width: 20px;
  height: 20px;
  border: 2px solid #CCC;
  border-radius: 50%;
  background-color: #FFF;
}
.StepProgress-item.is-done::before {
  border-left: 4px solid #EAF2FD;
}
.StepProgress-item.is-done::after {
  border: 2px solid #EAF2FD;
  background-image: url(../../../../assets/icons/BN/check-circle-white-green.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.StepProgress-item.is-failed::before {
  border-left: 4px solid #EAF2FD;
}
.StepProgress-item.is-failed::after {
  border: 2px solid #EAF2FD;
  background-image: url(../../../../assets/icons/BN/x-circle-large.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.StepProgress-item.current::after {
  padding-top: 1px;
  width: 20px;
  height: 20px;
  top: -4px;
  left: -37px;
  font-size: 14px;
  text-align: center;
  color: green;
  border: 2px solid #EAF2FD;
  background-color: #B0C4DC;
}
.StepProgress strong {
  display: block;
}