html,
body,
#root {
  width: 100%;
  height: 100%;
}

.app {
  width: 100%;
  height: 100%;
}

.year {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.month {
  padding: 16px;
  background-color: white;
  margin: 20px;
  border-radius: 4px;
}

.month-name {
  font-family: "FuturaHvBT";
  font-size: 17;
  letter-spacing: 0.03em;
  color: #374062;
  border-bottom: 1px solid #e7eaee;
  padding-bottom: 16px;
  margin-bottom: 6px;
}

.day {
  display: inline-block;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  font-family: "FuturaBkBT";
  font-size: 15px;
  margin: 7.35px;
}

.date {
  width: 35px;
  height: 35px;
  background: white;
  border-radius: 50px;
  border: none;
  outline: none;
  font-size: 15px;
  font-family: "FuturaBkBT";
  line-height: 17.98px;
  margin: 5px;
  text-align: center;
  cursor: pointer;
}

.date.in-month:hover {
  cursor: pointer;
  background: #f4f7fb;
}

.today {
  position: relative;
}
.today::before {
  content: "";
  display: block;
  width: 5px;
  height: 5px;
  background-color: #f4f7fb;
  position: absolute;
  border-radius: 100%;
  margin-left: 10px;
  z-index: 1;
  bottom: 1px;
}

.date.prev-month,
.date.next-month {
  color: #aeb3c6;
}

.rbc-month-row {
  flex-basis: 100px;
}

/* .rbc-event {
  width: auto;
} */

/* height row group */
.rbc-timeslot-group {
  min-height: 72px !important;
}

.rdw-editor-toolbar {
  border: none;
}
.rbc-events-container {
  .rbc-event {
    // width: auto !important;
  }
}

.rounded-calendar {
  width: 10px;
  height: 10px;
  background-color: #0061a7;
}

.rbc-event-content {
  font-family: "FuturaHvBT";
  color: #374062;
  position: relative;
  font-size: 8;
  padding-left: 10px;
}

.rbc-event-content::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 3px;
  margin-top: -3px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #0061a7;
}

.date.in-month.today {
  background-color: #0061a7 !important;
  color: white;
}

.event-fill {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.rbc-event-content-yearly {
  position: absolute;
  margin: 0;
  bottom: 0;
  left: 7px;
  top: 23px;
}

.tabs-forcalendar-selected {
  background-color: #0061a7 !important;
  color: white !important;
}
