
@import "suneditor/dist/css/suneditor.min.css"; // Import Sun Editor's CSS File

.sun-editor {
    border: 0px solid #dadada;
    background-color: inherit;
}
.sun-editor .se-toolbar {
    width: max-content;
}
.sun-editor .se-toolbar{
    border: 1px solid #bcc8e7;
    border-radius: 10px;
    background-color: inherit;
}
.sun-editor .se-btn-module-border {
    border: 0px solid #dadada;
}
.sun-editor .se-wrapper{
    border: 1px solid #bcc8e7;
    margin-top: 10px;
    border-radius: 10px;
}
.sun-editor .se-resizing-bar {
    display: none;
}
.sun-editor .se-wrapper .se-placeholder {
    color: #bcc8e7;
}
