@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
@import "~react-magic-slider-dots/dist/magic-dots.css";

.slider {
  width: 1300px;
  position: relative;
}

.slide {
  transform: scale(1);
  transition: transform 300ms;
  // height: 650px;
  display: flex !important;
  justify-content: center;
  align-items: center;
}

// .activeSlide {
//   transform: scale(1);
//   height: 520px;
//   margin: 120px auto auto auto;
// }

.dots {
  // position: relative;
  position: absolute;
  bottom: -20px;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}

.slick-dots li button::before {
  color: white;
  width: 30px;
  height: 5px;
}
.slick-dots li.slick-active button::before {
  color: white;
}

.slick-dots li button {
  width: 30px;
}

.slick-dots li {
  height: 5px;
  width: 30px;
  border-radius: 5px;
  content: none !important;
  background-color: #e6eaf3;
  bottom: 0px;
}

li.slick-active {
  z-index: 99999;
  background-color: #0061a7;
}

.magic-dots {
  &.slick-dots {
    background-color: transparent;
    bottom: 90px;

  }
}

.magic-dots.slick-dots li button:before {
  font-size: 0px !important;
  width: 30;
}
