@font-face {
  font-family: "Futura";
  src: url(./assets/fonts/Futura/Futura.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "FuturaMdBT";
  src: url(./assets/fonts/Futura/FuturaMdBT.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "FuturaBkBT";
  src: url(./assets/fonts/Futura/FuturaBkBT.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "FuturaHvBT";
  src: url(./assets/fonts/Futura/FuturaHvBT.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "FuturaBQ";
  src: url(./assets/fonts/Futura/FuturaBQ.otf) format("truetype");
  font-weight: normal;
  font-style: normal;
}

:root {
  /* Variables for css styling */
  --primary-medium: #004d6e;
  --primary-soft: #06719f;
  --primary-ultrasoft: #0387c0;
  --secondary-medium: #99cc00;
  --secondary-soft: #f3ffcf;
  --gray-medium: #b0bfd3;
  --gray-soft: #e5edf8;
  --gray-ultrasoft: #f7faff;
  --dark: #364449;
  --white: #ffffff;
  --blue-medium: #7abfff;
  --blue-soft: #e9f4ff;
  --blue-hard: #137ee1;
  --red-medium: #ff8970;
  --red-soft: #ffccc1;
  --red-hard: #cd3311;
  --yellow-medium: #ffd15c;
  --yellow-soft: #ffefc7;
  --yellow-hard: #ed9c00;
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: FuturaBkBT, Helvetica, Arial, Verdana, Tahoma, sans-serif;
  color: #374062;
  font-size: 13px;
  --antd-wave-shadow-color: #1890ff;
}

p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #374062;
  margin: 0;
}

::selection {
  background-color: #0061a7;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/**
 * Remove the inheritance of autofill in Edge, Firefox, and IE.
 * 1. Remove the inheritance of autofill in Firefox and  IE.
 */

input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}

input[data-autocompleted] {
  background-color: transparent !important;
}

input::-ms-reveal,
input::-ms-clear {
  display: none;
}

// @media only screen and (min-width: 100px) {
//   html {
//     zoom: 0.07;
//   }
// }

// @media only screen and (min-width: 150px) {
//   html {
//     zoom: 0.1;
//   }
// }

// @media only screen and (min-width: 200px) {
//   html {
//     zoom: 0.12;
//   }
// }

// @media only screen and (min-width: 250px) {
//   html {
//     zoom: 0.15;
//   }
// }

// @media only screen and (min-width: 300px) {
//   html {
//     zoom: 0.17;
//   }
// }

// @media only screen and (min-width: 350px) {
//   html {
//     zoom: 0.2;
//   }
// }

// @media only screen and (min-width: 400px) {
//   html {
//     zoom: 0.25;
//   }
// }

// @media only screen and (min-width: 450px) {
//   html {
//     zoom: 0.3;
//   }
// }

// @media only screen and (min-width: 500px) {
//   html {
//     zoom: 0.35;
//   }
// }

// @media only screen and (min-width: 550px) {
//   html {
//     zoom: 0.4;
//   }
// }
// // 250%

// @media only screen and (min-width: 600px) {
//   html {
//     zoom: 0.43;
//   }
// }

// @media only screen and (min-width: 650px) {
//   html {
//     zoom: 0.46;
//   }
// }

// @media only screen and (min-width: 700px) {
//   html {
//     zoom: 0.5;
//   }
// }

// @media only screen and (min-width: 750px) {
//   html {
//     zoom: 0.55;
//   }
// }

// @media only screen and (min-width: 800px) {
//   html {
//     zoom: 0.6;
//   }
// }

// @media only screen and (min-width: 850px) {
//   html {
//     zoom: 0.65;
//   }
// }

// @media only screen and (min-width: 900px) {
//   html {
//     zoom: 0.7;
//   }
// }

// @media only screen and (min-width: 950px) {
//   html {
//     zoom: 0.75;
//   }
// }

// @media only screen and (min-width: 1000px) {
//   html {
//     zoom: 0.78;
//   }
// }

// @media only screen and (min-width: 1050px) {
//   html {
//     zoom: 0.82;
//   }
// }

// @media only screen and (min-width: 1100px) {
//   html {
//     zoom: 0.85;
//   }
// }

// @media only screen and (min-width: 1200px) {
//   html {
//     zoom: 0.9;
//   }
// }

// @media only screen and (min-width: 1250px) {
//   html {
//     zoom: 0.95;
//   }
// }

// @media only screen and (min-width: 1300px) {
//   html {
//     zoom: 1;
//   }
// }

// @media only screen and (min-width: 1440px) {
//   html {
//     zoom: 1.2;
//   }
// }

// @media only screen and (min-width: 2560px) {
//   html {
//     zoom: 2;
//   }
// }
