
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";



.slide {
  // transform: scale(0.9);
  transition: transform 300ms;
  height: 750px;
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.activeSlide {
  transform: scale(1);
  height: 520px;
  margin: 120px auto;
}

.slick-dots{
  position: absolute;
  bottom: 70px;
  margin-bottom: -30px;
}
.slick-dots li {
  height: 5px;
  width: 30px;
  background-color: #e6eaf3;
  border-radius: 5px;
  bottom: 20px;
}

li.slick-active {
  z-index: 10;
  background-color: #0061a7;
}
